.Activity-profile-card {
    display: flex;
    margin-bottom: 11px;
}
.Activity-profile-card div:first-child img {
    width: 36px;
    border-radius: 50%;
    margin-right: 9px;
}
.Activity-profile-card > div:last-child div {
    font-size: 14px;
    color: #444444;
}
.Activity-profile-card > div:last-child div span {
    font-size: 14px;
    font-weight: 600;
}
.Activity-profile-card > div:last-child div:first-child {
   margin-bottom: 5px;
}